// 1. font)

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
// 2. mixin)

@mixin flex($x:center, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;

    @content;
}

@mixin font($a:inherit, $b:inherit, $c:inherit){
    font-size: $a;
    font-weight: $b;
    color: $c;

    @content;
}

@mixin text(){
    word-break: keep-all;
    word-wrap: break-word;
    @content;
}

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
// 3. color)
$mainColor1: #FF8500;
$mainColor2: #FFC700;
$mainColor3: #FFFAED;

$grayColor1: #2D2D2D;
$grayColor2: #666666;
$grayColor3: #7D7D7D;
$grayColor4: #909090;
$grayColor5: #C2C2C2;

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
body{
    // background-color: red;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}
html{
    font-size: 16px;
}
ul li{
    list-style-type: none;
}
    // ===== ===== ===== ===== ===== ===== ===== ===== ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
@keyframes ani_loading{
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}//ani_loading


section.loadingWrapper{
    background-color: $mainColor1;
    @include flex();

    >div.loadingContentsGroup{
        // outline: 1px solid red;
        @include flex(flex-start){
            flex-direction: column;
        };
        
        >ul.animagion_loading{
            width: 100%;
            @include flex(space-between);

            margin-bottom: 40px;

           >li{
            width: 20px; height: 20px;
            @media (max-width: 640px) {
                width: 3vw; height: 3vw;
            }
            background-color: white;
            border-radius: 50%;
            transition: .2s;

            &:nth-child(1){
                animation: ani_loading 2s 0s infinite linear;
            }
            &:nth-child(2){
                animation: ani_loading 2s 0.5s infinite linear;
            }
            &:nth-child(3){
                animation: ani_loading 2s 1s infinite linear;
            }
            &:nth-child(4){
                animation: ani_loading 2s 1.5s infinite linear;
            }
           } 
        }//ul.animagion_loading
        >strong{
            @include font(3.2rem, 900, white);
            @media (max-width: 640px) {
                font-size: 8vw;
            }
            letter-spacing: 7px;
            white-space: nowrap;
            transition: .2s;

        }
    }//div.loadingContentsGroup
}//section.loading