.mypageSec {

	button{
		background-color: rgb(212, 212, 212);
		cursor: pointer;
	}
	&.active{display: none;}
	box-shadow: 0px 0px 20px rgb(218, 218, 218);
	background-color: #FFFAED;
	padding: 8% 5% 8% 5%;
	>.profile {
		>.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			>strong{
				font-size: 1.5rem;
			}
			>.memSetting{
				>figure{
					width: 30px;
					background-color: #FFFAED;
					>img{width: 100%;}
				}
			}
		}
		>.titleBox {
			&.active{
				display: flex;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			background-color: white;
			border-radius: 30px;
			padding: 5%;
			margin: 50px 0 0 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			>.profPic {
				width: 150px;
				height: 150px;
				border-radius: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				>img {
					object-fit: cover;
					border-radius: 100%;
					width: 100%;
					height: 100%;
				}
			}

			>.profName {
				font-weight: bold;
				margin: 10px 0 0 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				>strong{}
				>.nameSett{
					>figure{
						width: 20px;
						height: 20px;
						background-color: white;
						>img{width: 100%;}
					}
				}
			}

			>.profEmail {margin: 10px 0 0 0;}

			>.profDesc {margin: 10px 0 0 0;}
		}
		>.titleBoxMod {
			&.active{
				display: flex;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			background-color: white;
			border-radius: 30px;
			padding: 5%;
			margin: 50px 0 0 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			>.portInputBox{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				>.portInput{}
				>.profPic {
					width: 150px;
					height: 150px;
					border-radius: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					>img {
						border-radius: 100%;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				>.tempInput{display: none;}
			}
			>.infoInputBox{
				margin-top: 50px;
				>.InputDiv{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 10px;
					>.descInput{
						border: 1px solid black;
						border-radius: 8px;
						padding: 3px;
						height: 150px;
						width: 200px;
						word-wrap: break-word;
						overflow-wrap: break-word;
					}
					>input{
						padding: 3px;
						border-radius: 5px;
						margin-left: 15px;
						border: 1px solid black;
					}
				}
			}
			>.profModBttnBox{
				display: flex;
				justify-content: space-between;
				width: 30%;
				margin-top: 13px;
				>button{
					width: 80px;
					height: 30px;
					border-radius: 11px;
				}
				>.saveBttn{}
				>.cancelBttn{}
			}
		}

		>.working{
			margin:  30px 0 0 0;
			display: flex;
			justify-content: space-between;
			>strong{
				
			}

			>.toggleWrapper{
				display: flex; justify-content: flex-start; align-items: center;
				width: 70px; height: 40px;
				border-radius: 20px;
				padding: 6px 7px;
				background-color: #B9B9B9; 
				transition: .2s;

				>.checkInput{
					display: none;
				}
				>label.toggleLabel{
					display: inline-block;
					width: 26px; height: 26px;
					border-radius: 50%;
					background-color: white;
					box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
					cursor: pointer;
	
					transition: .2s;
				}
				>input:checked + label.toggleLabel{
					transform: translateX(30px);
				}
			}
			>.toggleWrapper:has(input:checked){
				background-color: #FF8500;
			}
		}
	
	}

	>.workpics{
		margin: 130px 0 0 0;
		>.title{
			margin: 0 0 50px 0;
			font-size: 1.5rem;
		}
		>.pics{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			>.picBox{
				&.active{
					display: flex;
				}
				box-shadow: 0px 0px 20px rgb(218, 218, 218);
				background-color: white;
				border-radius: 30px;
				padding: 5%;
				display: none;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 10px;
				width: 100%;
				>li{
					background-color: orange;
					border-radius: 13px;
					width: 130px;
					height: 130px;
					&.picAdd{
						cursor: pointer;
						border: 2px dashed black;
						display: flex;
						justify-content: center;
						align-items: center;
						>span{
							font-size: 6rem;
							color: white;
							z-index: 100;
						}
					}
					&.addedPicsBox{
						>.addedPics{
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 100%;
							position: relative;
							>img{
								object-fit: cover;
								width: 100%;
								height: 100%;
								border-radius: 13px;
							}
							>span{
								position: absolute;
								top: 5%;
								right: 10%;
								width: 15px;
								height: 15px;
								border-radius: 100%;
								color: red;
								cursor: pointer;
							}
						}
					}
				}
			}

			>.picBoxModi{
				&.active{
					display: flex;
				}
				box-shadow: 0px 0px 20px rgb(218, 218, 218);
				background-color: white;
				border-radius: 30px;
				padding: 5%;
				display: none;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				>.inputBox{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					>figure{
						width: 150px;
						height: 150px;
						>img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}}
				}
				>.bttnBox{
					margin-top: 25px;
					width: 35%;
					display: flex;
					justify-content: space-between;
					>button{
						width: 80px;
						height: 30px;
						border-radius: 11px;
						}
				}
			}

		}
	}

	>.info{
		position: relative;
		margin: 130px 0 0 0;
		>.title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			>strong{font-size: 1.5rem;}
			>.infoSetting{
				>figure{
					width: 30px;
					background-color: #FFFAED;
					>img{width: 100%;}
				}
			}
		}
		>.infoBox{
			&.active{
				display: block;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			padding: 5%;
			margin: 50px 0 0 0;
			background-color: white;
			border-radius: 30px;
			>div{
				display: flex;
				flex-direction: column;
				margin: 5% 0 5% 0;
				>span{
					&:nth-of-type(2){
						margin: 10px 0 0 0;
					}
				}
			}
			>.dDesc{}
			>.dPrice{}
			>.dTime{}
			>.dAddress{}
			>.dNumber{}
		}

		>.infoBoxModi{
			&.active{
				display: inline-block;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			padding: 5%;
			margin: 50px 0 0 0;
			background-color: white;
			border-radius: 30px;
			>div{
				display: flex;
				flex-direction: column;
				margin: 5% 0 5% 0;
				>span{
					&:nth-of-type(2){
						margin: 10px 0 0 0;
					}
				}
				>.hpBox{
					display: flex;
					justify-content: space-between;
					align-items: center;
					>input{
						padding: 3px;
						border: 1px solid #797979;
						border-radius: 8px;
						margin-top: 11px;
					}
				}
				>textarea{
					padding: 3px;
					border: 1px solid #797979;
					border-radius: 8px;
					margin-top: 11px;
					height: 150px;
				}
				>input{
					padding: 3px;
					border: 1px solid #797979;
					border-radius: 8px;
					margin-top: 11px;
				}
				&.bttnBox{
					display: flex;
					flex-direction: unset;
					justify-content: space-between;
					align-items: center;
					width: 35%;
					>button{
						width: 80px;
						height: 30px;
						border-radius: 11px;
					}
				}
			}
		}

	}
}