.mypageSec {
	&.active{display: none;}
	box-shadow: 0px 0px 20px rgb(218, 218, 218);
	background-color: #FFFAED;
	padding: 8% 5% 8% 5%;
	>.profile {
		>.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			>strong{
				font-size: 1.5rem;
			}
			>.memSetting{
				>figure{
					width: 30px;
					background-color: #FFFAED;
					>img{width: 100%;}
				}
			}
		}
		>.titleBox {
			&.active{
				display: flex;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			background-color: white;
			border-radius: 30px;
			padding: 5%;
			margin: 50px 0 0 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			>.profPic {
				width: 150px;
				height: 150px;
				border-radius: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				>img {
					object-fit: cover;
					border-radius: 100%;
					width: 100%;
					height: 100%;
				}
			}

			>.profName {
				font-weight: bold;
				margin: 10px 0 0 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				>strong{}
				>.nameSett{
					>figure{
						width: 20px;
						height: 20px;
						background-color: white;
						>img{width: 100%;}
					}
				}
			}

			>.profEmail {margin: 10px 0 0 0;}

			>.profDesc {margin: 10px 0 0 0;}
		}
		>.titleBoxMod {
			&.active{
				display: flex;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			background-color: white;
			border-radius: 30px;
			padding: 5%;
			margin: 50px 0 0 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			>.portInputBox{
				>.portInput{}
				>.profPic {
					width: 150px;
					height: 150px;
					border-radius: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					>img {
						border-radius: 100%;
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
				>.tempInput{display: none;}
			}
			>.infoInputBox{
				margin-top: 50px;
				>.InputDiv{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 10px;
					>input{
						margin-left: 15px;
						border: 1px solid black;
					}
				}
			}
			>.profModBttnBox{
				display: flex;
				>.saveBttn{}
				>.cancelBttn{}
			}
		}

		>.working{
			margin:  30px 0 0 0;
			display: flex;
			justify-content: space-between;
		}
	
	}
	>.workpics{
		margin: 130px 0 0 0;
		>.title{
			margin: 0 0 50px 0;
			font-size: 1.5rem;
		}
		>.pics{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			>.picBox{
				&.active{
					display: flex;
				}
				box-shadow: 0px 0px 20px rgb(218, 218, 218);
				background-color: white;
				border-radius: 30px;
				padding: 5%;
				display: none;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 10px;
				width: 100%;
				>li{
					background-color: orange;
					border-radius: 13px;
					width: 130px;
					height: 130px;
					&.picAdd{
						border: 2px dashed black;
					}
					&.addedPicsBox{
						>.addedPics{
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							width: 100%;
							height: 100%;
							position: relative;
							>img{
								object-fit: cover;
								width: 100%;
								height: 100%;
								border-radius: 13px;
							}
							>button{
								position: absolute;
								top: 5%;
								right: 5%;
							}
						}
					}
				}
			}

			>.picBoxModi{
				&.active{
					display: flex;
				}
				box-shadow: 0px 0px 20px rgb(218, 218, 218);
				background-color: white;
				border-radius: 30px;
				padding: 5%;
				display: none;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 10px;
				width: 100%;
				>li{
					background-color: orange;
					border-radius: 13px;
					width: 130px;
					height: 130px;
					&.picAdd{
						border: 2px dashed black;
					}
					>figure{
						width: 100%;
						height: 100%;
						>img{
							width: 100%;
						}
					}
				}
			}

		}
	}
	>.info{
		position: relative;
		margin: 130px 0 0 0;
		>.title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			>strong{font-size: 1.5rem;}
			>.infoSetting{
				>figure{
					width: 30px;
					background-color: #FFFAED;
					>img{width: 100%;}
				}
			}
		}
		>.infoBox{
			&.active{
				display: block;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			padding: 5%;
			margin: 50px 0 0 0;
			background-color: white;
			border-radius: 30px;
			>div{
				display: flex;
				flex-direction: column;
				margin: 5% 0 5% 0;
				>span{
					&:nth-of-type(2){
						margin: 10px 0 0 0;
					}
				}
			}
			>.dDesc{}
			>.dPrice{}
			>.dTime{}
			>.dAddress{}
			>.dNumber{}
		}
		>.infoBoxModi{
			&.active{
				display: block;
			}
			display: none;
			box-shadow: 0px 0px 20px rgb(218, 218, 218);
			padding: 5%;
			margin: 50px 0 0 0;
			background-color: white;
			border-radius: 30px;
			>div{
				display: flex;
				flex-direction: column;
				margin: 5% 0 5% 0;
				>span{
					&:nth-of-type(2){
						margin: 10px 0 0 0;
					}
				}
			}
			>.dDesc{}
			>.dPrice{}
			>.dTime{}
			>.dAddress{}
			>.dNumber{}
		}


	}
}