// 1. font)
@font-face { // 이 폰트 굵기관련 문제 있음
    font-family: 'Pretendard-Regular'; 
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); 
   font-weight: 400; 
   font-style: normal; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
// 2. mixin)

@mixin flex($x:center, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;

    @content;
}

@mixin font($a:inherit, $b:inherit, $c:inherit){
    font-size: $a;
    font-weight: $b;
    color: $c;

    @content;
}

@mixin text(){
    word-break: keep-all;
    word-wrap: break-word;
    @content;
}

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
// 3. color)
$mainColor1: #FF8500;
$mainColor2: #FFC700;
$mainColor3: #FFFAED;

$grayColor1: #2D2D2D;
$grayColor2: #666666;
$grayColor3: #7D7D7D;
$grayColor4: #909090;
$grayColor5: #C2C2C2;

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
// 4. 변수들)
$MarPad: 32px;

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
body{
// background-color: red;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}
html{
    font-size: 16px;
}
ul li{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
button{
    border: none;
    cursor: pointer;
}
// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== ===== =====



section.signUpWrapper{
    // outline: 1px solid red;
    margin: auto;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    font-family: 'SUITE-Regular';
    // ↑ 임시

    width: 100%; max-width: 640px; min-height: 100vh;
    padding: 100px $MarPad 150px;
    background-color: $mainColor3;
    overflow: hidden;

    >div.topWrapper{
        // outline: 1px solid red;
        margin-bottom: 53px;
        @include flex(flex-start);

        >button.prevBtn{
            width: 11px; height: 21px;
            background: url('/LeeTest/img/prev_arrow_icon.svg') left top / 100% 100% no-repeat scroll;
        }

    }//div.topWrapper

    >div.textWrapper{
        // outline: 1px solid red;
        margin-bottom: 53px;

        @include flex(flex-start, flex-start){
            flex-direction: column;
        }

        >h2{
            @include font(2.25rem, 700, $mainColor1);
            white-space: nowrap;
            line-height: 120%;
            letter-spacing: -0.72px;
            margin-bottom: 12px;
        }
        >span{
            @include font(1.5rem, 500, $mainColor1);
            @include text();
            letter-spacing: -0.48px;
        }
    }//div.textWrapper


    >form.signUpForm{
        // outline: 1px solid red;
        width: 100%;
        >div.inputWrapper{
            // outline: 1px solid red;
            width: 100%;
            &:not(:last-child){
                margin-bottom: 52px;
            }

            >label{
                @include font(1.625rem, 500, $grayColor3);
                line-height: 192%; 
                letter-spacing: -0.78px;
                margin-bottom: 8px;
            }
            
            >input{
                width: 100%;
                border: none; border-radius: 35px;
                padding: 25px 38px;
                @include font(1.625rem, 400, black);

                &::placeholder{
                    color: $grayColor5;
                }
                &:focus{
                    outline: none;
                }
            }
            
            >div.pwBoxWrapper{
                position: relative; top: 0px; left: 0px; z-index: 0;
                width: 100%;
                border-radius: 35px;
                background-color: white;
                overflow: hidden;
                
                >input{
                    width: 100%;
                    padding: 25px 38px;
                    @include font(1.625rem, 400, black);

                    &::placeholder{
                        color: $grayColor5;
                    }
                    &:focus{
                        outline: none;
                    }
                }

                >button.pwVisualBtn{
                    position: absolute; top: 50%; right: 38px;
                    transform: translateY(-50%);
                    width: 35px; height: 35px;

                    background: url('/LeeTest/img/eye_icon.svg') 100% 100% / contain no-repeat scroll;

                    &.active{
                        background: url('/LeeTest/img/eye_active_icon.svg') 100% 100% / contain no-repeat scroll;
                    }
                }
            }//pwBoxWrapper

            >span{
                display: inline-block;
                margin-top: 13px;
                @include font(1.375rem, 400, $mainColor1);
                @include text();
                white-space: pre-line;
                line-height: 150%;
                
            }
        }//div.inputWrapper

        >div.idWrapper{

            >label.idLabel{

            }
            >div.idInputWrapper{
                // outline: 1px solid red;
                @include flex(flex-start);
                border-radius: 35px;
                overflow: hidden; 
                height: 80px;

                >input.idInput{
                    width: 100%;
                    border: none; 
                    padding: 25px 38px;
                    @include font(1.625rem, 400, black);
    
                    &::placeholder{
                        color: $grayColor5;
                    }
                    &:focus{
                        outline: none;
                    }

                }//input.idInput
                >button.idCheckBtn{
                    padding: 10px;
                    height: 100%;
                    background-color: $mainColor1;

                    @include font(0.875rem, 600, white);
                    white-space: nowrap;
                }//button.idDupliCheckBtn
            }//idInputWrapper
            >span.idInfo{

            }

        }//div.idWrapper

        >div.pwWrapper{
            >label.pwLabel{

            }//label.pwLabel
            >input.pwInput{

            }//input.pwInput
            >button.pwVisualBtn{

            }

        }//div.pwWrapper
        
        >div.pwCheckWrapper{
            >label.pwCheckLabel{

            }//label.pwLabel
            >input.pwCheckInput{

            }//input.pwInput
            >span.pwInfo{

            }//span.pwInfo

        }//div.pwWrapper

        >div.nickWrapper{
            >label.nickLabel{

            }//label.nickLabel

            >input.nickInput{

            }//input.nickInput

            >span.nickInfo{

            }//span.nickInfo
        }//div.nickWrapper
        
        >button.submitBtn{
            pointer-events: none;
            width: 100%;
            border-radius: 35px;
            background: $grayColor5;
            padding: 25px;

            @include flex();
            @include font(1.875rem, 500, #FFF);
            white-space: nowrap;

            &.active{
                pointer-events: auto;
                background: $mainColor1;
            }
        }//button.submitBtn

    }//form.signUpForm

}//section.signUpWrapper












